.footer-wrapper-container {
  display: flex;
  justify-content: space-around;
  background: #f7f7f7;
  margin-top: 100px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-headers {
  color: #faa519;
}
