.footer-wrapper-container {
  display: flex;
  justify-content: space-around;
  background: rgb(249, 249, 249);
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-headers {
  color: #faa519;
}
