section.video-container {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.splash-video {
  top: 25%;
  width: 100%;
  min-width: 970px;
  text-align: center;
  letter-spacing: 2px;
  height: 600px;
  object-fit: cover;
  z-index: -5;
}

.ReactModal__Overlay--after-open {
  right: 0%;
}

.hero-message {
  position: absolute;
  top: 65%;
  color: white;
  left: 50%;
  transform: translate(-50%);
  font-size: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-header {
  font-size: 30px;
}

.hero-subheader {
  background: rgba(158, 158, 158, 0.23);
  padding: 20px;
  width: 270px;
  margin: 0 auto;
}

.home-page-join {
  margin-top: 50px;
  padding: 40px 0 60px 0;
  background: rgba(117, 112, 112, 0.73);
  color: white;
  text-align: center;
}

.home-page-container {
  min-width: 970px;
  max-width: none !important;
}

.home-page-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.join-message {
  text-align: center;
  padding: 20px;
  margin: 0 30px;
  font-size: 18px;
}

.join-button-container {
  margin-top: -15px;
}

.join-button {
  padding: 15px 60px;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  text-decoration: none;
  background: rgba(249, 165, 25, 0.54);
  /*background: #0077A9;*/
  letter-spacing: 0.1em;
}
