.stats-container {
  height: 500px;
  overflow: hidden;
}

.fetch-nba-btn, .fetch-nfl-btn, .fetch-mlb-btn {
  height: 50px;
  margin-right: 5px;
}

.stats-btns {
  padding-left: 15px;
}

.stats-paragraph {
  color: gray;
  padding-left: 15px;
}

.result-stats-container {
  overflow: hidden;
}

.stats-pic {
  width: 100%;
  opacity: 0.5;
}

.fetch-nba-container, .fetch-nfl-container, .fetch-mlb-container {
  height: 300px;
  margin-left: 15px;
}

.fetch-nba-players, .back-to-stats, .fetch-nfl-players, .fetch-mlb-players {
  margin-right: 5px;
}

.fetch-nba-btns {
  margin-bottom: 10px;
}

.nba-stats, .nfl-stats, .mlb-stats {
  opacity: 0.6;
}

.nfl-stats, .no-matches, .mlb-stats {
  height: 200px;
}

.search-players, .no-matches {
  margin-left: 15px;
  margin-bottom: 15px;
}

.first-name-row:hover {
  cursor: pointer;
}
