.stats-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fetch-nba-btn {
  background-color: #004684;
  border-color: white;
}
.fetch-nfl-btn {
  background-color: #ed174b;
  border-color: white;
}
.fetch-mlb-btn {
  background-color: #cecece;
  border-color: white;
}

.fetch-nba-btn:hover {
  background-color: #fff;
  color: black;
  border-color: #004684;
}
.fetch-nfl-btn:hover {
  background-color: #fff;
  color: black;
  border-color: #ed174b;
}
.fetch-mlb-btn:hover {
  background-color: #fff;
  color: black;
  border-color: #cecece;
}

.fetch-nba-btn, .fetch-nfl-btn, .fetch-mlb-btn {
  height: 50px;
  width: 120px;
  margin: 1.25em;
  color: #fff;
  border-color: white;
}

.stats-paragraph {
  color: #fab23d;
  font-size: 28px;
}

.result-stats-container {
  overflow: hidden;
}

.stats-pic {
  width: 100%;
  opacity: 0.5;
}

.fetch-nba-container, .fetch-nfl-container, .fetch-mlb-container {
  height: 300px;
  margin-left: 15px;
}

.fetch-nba-players, .back-to-stats, .fetch-nfl-players, .fetch-mlb-players {
  margin-right: 5px;
}

.fetch-nba-btns {
  margin-bottom: 10px;
}

.nba-stats, .nfl-stats, .mlb-stats {
  opacity: 0.6;
}

.nfl-stats, .no-matches, .mlb-stats {
  height: 250px;
}

.search-players, .no-matches {
  margin-left: 15px;
  margin-bottom: 15px;
}

.sort-by-row:hover, .stats-item-pic {
  cursor: pointer;
}

.player-news {
  width: 200px;
}

.stats-results-container {
  margin: 0 5%;
}
