div.index-header {
    background-image: url(http://res.cloudinary.com/dcbb8bnvk/image/upload/c_crop,x_1256,y_300/v1467522114/homepage_ukuzvz.jpg);
    /*background-attachment: fixed;*/
    background-size: contain;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.index-header-header {
  position: relative;
  top: 20%;
  width: 100%;
  min-width: 970px;
  text-align: center;
  letter-spacing: 2px;
}

.index-header-message {
  color: white;
  font-weight: 700;
  font-size: 80px;
  opacity: .9;
  text-shadow: 2px 2px #faa519;
}

.story-links {
  font-family: 'Montserrat', sans-serif;
}

ul.index-stories {
  margin: 0 20%;
  padding-left: 0px;
}

.header-group {
  list-style: none;
  display: inline-block;
}

.paragraphs {
  color: rgba(0,0,0,0.8);
  display: block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  font-family: sans-serif, 'Roboto';
  font-weight: 400;
  font-style: normal;
}

.story-index-item {
  list-style: none;
  border: 2px solid lightgray;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
  word-wrap: break-word;
  /*z-index: -5;
  position: relative;*/
}

.story-pics {
  width: 100%
}

.toggle-fave:hover {
  cursor: pointer;
}

.fav {
  color: red;
}

.fav:hover {
  cursor: pointer;
}

.fav-border {
  color: gray;
}

.fav-border:hover {
  cursor: pointer;
}

.fav:hover {
  cursor: pointer;
}

.md-36.hover {
  cursor: pointer;
}

.navbar-form.navbar-right {
  display: flex;
}

.search-bar:hover {
  cursor: pointer;
}

.dropdown-menu-list {
  position: absolute;
  background: white;
  border: 1px solid lightgray;
  padding: 5px;
  list-style: none;
  z-index: 10;
}

.dropdown-menu-item {
  padding: 5px;
}

.dropdown-menu-item:hover {
  color: #00ab6b;
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.dropdown-menu-none {
  display: none;
}

.num-of-faves {
  font-size: 20px;
  color: #363636;
  display: flex;
  margin-top: 5px;
}

.story-link {
  color: black;
}

.story-user-avatar {
  width: 50px;
  margin-bottom: 10px;
}

.story-title-link {
  color: rgba(6, 0, 0, 0.84);
}

/*.disabled-fave-button {
  border: none;
  width: 30px;
}*/

.disabled-fave:focus, .disabled-fave:active {
  outline: none;
}

.disabled-fave {
  width: 25px;
}

.disabled-fave, .fav-border, .fav {
  margin-left: 5px;
}
