div.index-header {
    background-image: url(http://res.cloudinary.com/dcbb8bnvk/image/upload/c_crop,x_1256,y_300/v1467522114/homepage_ukuzvz.jpg);
    background-size: contain;
    height: 300px;
    width: 100%;
}

.index-header-header {
  position: relative;
  top: 25%;
  width: 100%;
  min-width: 970px;
  text-align: center;
  letter-spacing: 2px;
}

.index-header-message {
  color: white;
  font-weight: 700;
  font-size: 60px;
}

.story-links {
  font-family: 'Montserrat', sans-serif;
}

ul.index-stories {
  /*top: 400px;*/
  margin: 0 10%;
}

.header-group {
  list-style: none;
  /*display: -webkit-box;*/
  display: inline-block;
}

.paragraphs {
  font-family: sans-serif;
  color: black;
}

.story-index-item {
  /*top: 400px;*/
  list-style: none;
  border: 2px solid lightgray;
  margin: 20px;
  padding: 10px;
}
