.story-container {
  font-family: sans-serif;
}

pre {
  font-family: sans-serif;
  white-space: pre-wrap;
  width: 70%;
  word-break: normal;
}

.story-user {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /*display: flex;*/
  /*justify-content: center;*/
  /*background: black;*/
}
