.story-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  font-family: sans-serif;
  white-space: pre-wrap;
  width: 60%;
  word-break: normal;
}

.story-user {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.picture-container {
  display: flex;
  justify-content: center;
}

.story-picture {
  height: 500px;
  width: 80%;
}

.story-body {
  border: 1px solid black;
  padding: 3%;
}

.story-title {
  display: flex;
  justify-content: center;
}

.trash {
  color: gray;
}

.trash:hover {
  cursor: pointer;
}

.edit:hover {
  cursor: pointer;
}

.index-button {
  
}
