.story-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  font-family: sans-serif;
  white-space: pre-wrap;
  width: 60%;
  word-break: normal;
}

.story-user {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #00ab6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-container {
  width: 150%;
  height: 550px;
}

.story-picture {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.story-body {
  border: 1px solid #efeded;
  padding: 2%;
  width: 100%;
  word-wrap: break-word;
}

.story-title {
  display: flex;
  justify-content: center;
}

.trash {
  color: gray;
  width: 30px;
}

.trash:hover {
  cursor: pointer;
}

.edit:hover {
  cursor: pointer;
}

.comments-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: baseline;
  padding-top: 20px;
}

.story-author-pic {
  width: 100px;
}

.comments-pre {
  margin-top: 15px;
  margin-bottom: 3px;
  width: 100%;
  display: inline-block;
}

textarea.form-control {
  margin-top: 15px;
  width: 300px;
}

.story-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.story-show-title {
  font-size: 36px;
  text-align: center;
}

.story-paragraph {
  padding: 15px;
  border-bottom: 1px solid #e8e1e1;
}

.loader-image {
  position: absolute;
  top: 45%;
  left: 47%;
}

.comment-pic {
  width: 20px;
  margin: 10px;
}

.buttons-container {
  margin-bottom: 10px;
}

.edit {
  margin-left: -100px;
}
