div.index-header {
    background-image: url(http://purewellnesschicago.com/index_files/rvm1.jpg);
    background-size: contain;
    height: 300px;
    width: 100%;
}

.story-links {
  font-family: 'Montserrat', sans-serif;
}

ul.index-stories {
  top: 400px;
  margin: 0 10%;
}

.header-group {
  list-style: none;
  /*display: -webkit-box;*/
  display: inline-block;
}

.paragraphs {
  font-family: sans-serif;
  color: black;
}

.story-index-item {
  /*top: 400px;*/
  list-style: none;
}
